*,::before,::after {
  box-sizing:border-box;
}

body{
  background-color: black;
  color: white;
  font-family: var(--font-text);
  font-size: var(--texte-normal);
  font-weight: 600;
}

h1{
  font-family: var(--font-titles);
  font-weight: 800;
  font-size: var(--titres-h1);
  color: var(--red);
  margin-bottom: 50px;
}

h4{
  text-align: center;
  font-family: var(--font-titles);
  font-weight: 800;
  font-size: var(--titres-h1);
  color: var(--red);
  margin-bottom: 50px;
  margin-top: 5%;
}

/*Section1*/
.section1__article{
  max-width: 40%;
  margin-left: 200px;
}
.titre1{
  margin-top: 100px;
  text-align: center;
}
.uppercase{
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}
.triplet1{
  margin-top: -5%;
}
.section1__boutton{
  margin: auto;
  margin-top: 10%;
}
.section1{
  display: flex;
}

/*Section2*/
.section2{
  display: flex;
  gap: 5%;
  margin-top: 5%;
  margin-left: 200px;
  margin-bottom: 5%;
}
.section2__gauche{
  text-align: center;
  max-width: 40%;
}
.section2__gauche__logo{
  margin-top: -5%;
}
.section2__gauche__neon{
  margin-top: 2%;
}
.section2__droite{
  margin-right: 200px;
}
.section2__droite--titre{
  text-align: center;
  font-family: var(--font-titles);
  font-weight: 800;
  font-size: var(--titres-h1);
  color: var(--red);
  margin-bottom: 50px;
  margin-top: 0;
}
.JO{
  display: flex;
  align-self: center;
  background-color: white;
  gap: 10%;
  margin-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20px;
}
.JO__neon{
  margin: auto;
}
.joaction{
  margin: auto;
  margin-top: 8%;
}

.lastbutton{
  text-align: center;
  margin: auto;
  font-family: var(--font-titles);
  font-weight: 800;
  font-size: var(--titres-h1);
  color: var(--white);
  margin-bottom: 50px;
  background-color: var(--red);
  display: flex; 
  align-items: center; 
  width: 50%; 
  height: 50%;
  padding: 20px; 
  border-radius: 50px; 
  background: #e83b3b;
  justify-content: center;
}
.lastbutton__txt{
  color: var(--blanc);
}





.bgblurr{
  position: absolute;
  margin-top: 200px;
  margin-left: -200px;
  z-index: -1;
}

.bkblurr{
  z-index: -1;
  width: 100%; 
  height: 200px; 
  background: linear-gradient(to right, #e83b3b 52.48%, #239ce8 71.01%, #e8e651 102.21%);
  filter: blur(300px);
}