img {
  max-width:100%;
  height:auto;
}

.fond{
  position: absolute;
  width: 100%;
  z-index: -1;
}
.test{
  position: relative;
}

.section1__groupephoto{
  text-align: right;
}
.section1__groupephoto__img1{
  margin-top: 10%;
  max-width: 90%;
}
.section1__groupephoto__img2{
  max-width: 50%;
  margin-top: -40%;
}