form{
  margin-top: 100px;
  background-color: var(--red);
  padding-top: 2%;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}
.form__titre{
  font-family: var(--font-titles);
  font-size: var(--titres-h1);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--black);
  margin-top: 2%;
}
.form__soustitre{
  margin-bottom: 2%;
}
input[type=text]{
  font-weight: 600;
  width:50%;
  padding:9px 15px;
  margin:5px 0;
  border-radius:20px;
  box-sizing:border-box;
  border: none;
}
.rgpd{
  margin: auto;
  max-width: 50%;
  margin-top: 2%;
  margin-bottom: 3%;
}
.button[type="submit"]{
  font-family: var(--font-buttons);
  font-size: var(--boutons-l); 
  font-weight: 800; 
  text-align: center; 
  color: var(--blanc);
}
.divenvoyer{
  background-color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  max-width: 20%;
  margin: auto;
  border-radius: 20px;
}
.esp{
  margin-top: 2%;
}