.top{
  width: 100%;
  margin-top: -3%;
  margin-left: 40%;   
  margin-right: 10.5%;
}
.top__logo{
  display: block;
  justify-content: flex-end;
}
.top__soustitre{
  font-family: var(--font-text);
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--black);
  margin-top: -3%;
  margin-left: 9%;
}
.haut{
  margin-bottom: 3%;
  margin-top: -4%;
}
.deuxst{
  text-align: center;
  margin-left: -53%;
  margin-top: 2%;
}
.button__link{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 268px; 
  height: 60px;
  padding: 20px; 
  border-radius: 50px; 
  background: #e83b3b;
  justify-content: center;
}
.button__link__txt{
  font-family: var(--font-buttons);
  font-size: var(--boutons-l); 
  font-weight: 800; 
  text-align: center; 
  color: var(--blanc);
}
.top__button{
  margin-top: 3%;
  margin-left: 23%;
}
.test{
  margin-top: -3%;
}


.bot{
  margin-top: -10%;
}
.bot__txt{
  margin-left: 10.5%;
  font-family: var(--font-titles);
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 30%;
}
strong{
  color: #e83b3b;
}
.bot__neon1{
  max-width: 39.5%;
}
.bot__neon2{
  max-width: 71.1%;
}

.chevrons{
  margin-left: 66.2%;
  margin-top: -5%;
}